<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/styles.css">

  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>PanFC</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Sign in PanFC</p>
    <form class="form1" action="/userForm">
      <input class="un " type="text" align="center" placeholder="Username" id="username_login">
      <input class="pass" type="password" align="center" placeholder="Password" id="password_login">
      <input type="submit" value="Sing Up" class="submit" align="center" onclick="login()"></input>
      <p class="forgot" align="center"><a href="#">Forgot Password?</p>
    </form>

  </div>





</body>
</body>

</html>