<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/styles.css">

    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>PanFC</title>
  </head>
  
    <body>
        <div class="main" style="height: auto;">
        <p class="sign" align="center">Register Here</p>
        <form class="form1" action="/main" method="POST">
            <input class="un " type="text" align="center" placeholder="Name" name="Name" required>
            <input class="un " type="text" align="center" placeholder="Father's Name" name="Fname" required>
            <input class="un " type="text" align="center" placeholder="Email" name="Email" required>
            <input class="un " type="varchar" align="center" placeholder="Phone" name="Phone" required>
            <input class="un " type="text" align="center" placeholder="Address" name="Address" required>
            <input class="un " type="text" align="center" placeholder="District" name="District" required>
            <input class="un " type="varchar" align="center" placeholder="Pincode" name="Pincode" required>
            <input class="un " type="text" align="center" placeholder="PostOffice" name="PostOffice" required>
            <input class="un " type="text" align="center" placeholder="State" name="State" required>
            <input class="un " type="varchar" align="center" placeholder="Aadhar Number" name="AadharNumber" required>
            <input type="submit" value="Register" class="submit" align="center"></input><br/><br/>
            <a href="/userForm" style="margin-left: 182px;">Reset</a><br/><br/>
            
                
        </form>  
        </div>
    </body>
</html>